<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="head">	
		<title>Sistema de Inventario para Productos</title>
		<link rel="stylesheet" href="/Css/Estilo.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
	</head>
	<body>
		<header>
		<img  class="logo" src="/Imagenes/logocliente.jpg"/>
		</header>
		<nav th:fragment="menu">
			<div class="menu">
			<a class="btn btn-primary justify-content-center " th:href="@{/create}" th:text="'COMPRAR'"></a>
			<a class="btn btn-primary justify-content-center " th:href="@{/create}" th:text="'SERVICIO'"></a>
			<a class="btn btn-primary justify-content-center " th:href="@{/create}" th:text="'CONCESIONARIO'"></a>		
		    <a class="btn btn-primary justify-content-center " th:href="@{/vistas/reportes}" th:text="'Reportes'"></a>		

			</div>	
		</nav>
		<footer th:fragment="footer" class="pie">
			<p>Derechos reservados estudiante de cibertec</p>
		</footer>
	</body>
</html>